
.intro {
    padding-top: 5%;
    padding-bottom: 5%;
}

.nameFull {
    font-weight: bold;
    font-size: 2em;
    line-height: 250%;
}



.social{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 20% 5% 20%;
    gap:5%;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 20vh;
  }

  .socialImages{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }

  .social img{
    overflow: contain;
    width: 50px;  
    border-radius: 100%;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(252, 253, 253);
  
  }


  @media (max-width: 700px){
    .intro {
      padding-top: 10%;
      padding-bottom: 10%;
  }

    .nameFull {
      font-size: 1.5em;
      line-height: 250%;
}
    

  }